<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{finalData.singleProduct.product_name}}</title>
    {{!-- all meta tags and common link tags --}}
    {{>headMetaTags}}
</head>

<body>
    {{!-- header --}}
    {{>header}}

    {{!-- div between header and footer--}}
    <div id="mid-wrap" class="product-detail">
        {{!-- all your content goes here --}}
        <div class="container">
            {{#if finalData.singleProduct}}
            <div class="row product-wrap product-{{finalData.singleProduct.product_id}}">
                <div class="col-md-5 text-center">
                    <img src="/{{finalData.singleProduct.image}}" alt="product" class="img-fluid"
                        onerror="this.src='/images/product_placeholder.png'" />
                </div>

                <div class="col-md-7 mt-2">
                    <div class="product-content">
                        <h2 class="display-5 mb-3">{{finalData.singleProduct.product_name}}</h2>
                        <h6 class="card-text prod-desc mb-3">{{finalData.singleProduct.description}}</h6>
                        <p class="card-text prod-price">Price: <strong>${{finalData.singleProduct.unit_price}}</strong>
                        </p>
                        <p class="card-text prod-size">Size: <strong>{{finalData.singleProduct.quantity_in_stock}}
                                lbs</strong></p>
                        <form action="/addToCart" method="post">
                            <div class="row">
                                <div class="col-6">
                                    <label class="" for="qty">Quantity</label>
                                    <input required type="number" name="product_qty" min="1"
                                        max="{{finalData.singleProduct.quantity_in_stock}}"
                                        class="form-control mb-2 mr-sm-2" id="qty" placeholder="1">
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 mb-2 w-100">Add to Cart</button>
                                </div>
                                <input type="hidden" name="product_id" value="{{finalData.singleProduct.product_id}}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{else}}
            <h2 class="display-5 mb-3 text-center">Product is unavailable</h2>
            {{/if}}
        </div>

        {{>relatedProducts relatedProd=finalData.relatedProducts}}
    </div>

    {{!-- footer --}}
    {{>footer}}

    {{!-- scripts --}}
    {{>footerScripts}}
</body>

</html>